 div#tooltip1 a span
 {
  display:none;
 }

 div#tooltip1 a:hover
 {
  background-color:#FFFFFF;
 }

div#tooltip1 a:hover span
 {
  display:block;
  text-decoration :none;
  position:absolute;
  top:385px;
  left:125px;
  width:300px;
  padding:5px;
  margin:4px;
  z-index:100;
  color:black;
  background:#EEEEEE;
  border:1px solid blue;
  font-size:12px;
 }
 
 
 /*verwendet im Loeschformular fuer vorgemerkte Bilder*/
 div#tooltip2 p span
 {
  display:none;
 }

 div#tooltip2 p:hover
 {
  background-color:#FFFFFF;
  cursor:pointer;
 }

div#tooltip2 p:hover span
 {
  display:block;
  text-decoration :none;
  position:fixed;
/*  top:100px;
  left:525px;*/
  width:300px;
  padding:5px;
  margin:4px;
  z-index:100;
  color:black;
  background:#EEEEEE;
  border:1px solid blue;
  font-size:12px;
 }
 
 /*verwendet auf der Startseite zur Vergroesserung der top-ten*/
 div#tooltip3 a span
 {
  display:none;
 }

 div#tooltip3 a:hover
 {
  background-color:#FFFFFF;
 }

div#tooltip3 a:hover span
 {
  display:block;
  text-decoration :none;
  position:absolute;
  top:25px;
  left:25px;
  height:400px;
  padding:5px;
  margin:4px;
  z-index:100;
  background:#EEEEEE;
  border:2px solid RGB(125,0,10);
 }
 
 /*verwendet bei der Vorschau der in einer Kollektion enthaltenen Bilder (edit_selected_collection.php)*/
 div.tooltip4 p span#tt
 {
  display:none;
 }

 div.tooltip4 p:hover
 {
  background-color:#EEEEEE;
 }

div.tooltip4 p:hover span#tt
 {
  display:block;
  text-decoration :none;
  position:absolute;
  top:7px;
  left:7px;
  height:334px;
  padding:5px;
  margin:4px;
  z-index:100;
  background:#EEEEEE;
  border:2px solid RGB(125,0,10);
 }
 
 /*Info-Bereich rechts neben dem vergroesserten Vorschaubild in edit_selected_collection.php*/
 span.ttinfo
 {
  width:274px;
  /*width:96%;*/
  height:334px;
  margin-left:20px;
  margin-top:-7px;
  padding-left:10px;
  position:absolute;
  background-color:#EEEEEE;
  text-align:left;
  padding:5px;
  border:2px solid RGB(125,0,10);
  overflow-y:visible;
  overflow-x:auto;
 }